.container {
  padding: 0 2em;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #001529;
}

.header {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  padding-left: 1em;
  font-size: 1.5rem;
  width: 150px;
  height: 20px;
}

.title {
  font-size: 1.5rem;
  flex: 70%;
  color: white;
}

.rightMenu {
  flex: 10%;
  border: 0;
}
