.container {
  padding: 0 2em;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #001529;
}

.rightMenu {
  flex: 10%;
  border: 0;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: none;
}
